In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.metrics import accuracy_score,confusion_matrix

In [3]:
df=pd.read_excel("/content/Jodhpur-2020 (1).xlsx")
df

,Unnamed: 0,A_\nRSPCB\nJODHPU\nNO,A_\nRSPCB\nJODHPU\nNO2,A_\nRSPCB\nJODHPU\nNOX,A_\nRSPCB\nJODHPU\nNH3,A_\nRSPCB\nJODHPU\nSO2,A_\nRSPCB\nJODHPU\nCO,A_\nRSPCB\nJODHPU\nO3,A_\nRSPCB\nJODHPU\nPM10,A_\nRSPCB\nJODHPU\nPM2.5,...,A_\nRSPCB\nJODHPU\nETHYL BENZENE,A_\nRSPCB\nJODHPU\nMPXYLENE,A_\nRSPCB\nJODHPU\nOXYLENE,A_\nRSPCB\nJODHPU\nTEMP,A_\nRSPCB\nJODHPU\nRH,A_\nRSPCB\nJODHPU\nWS,A_\nRSPCB\nJODHPU\nWD,A_\nRSPCB\nJODHPU\nVWS,A_\nRSPCB\nJODHPU\nBP,A_\nRSPCB\nJODHPU\nSR
0,NaT,ug/m3,ug/m3,ppb,ug/m3,ug/m3,mg/m3,ug/m3,ug/m3,ug/m3,...,ug/m3,ug/m3,ug/m3,degreC,%,m/s,degre,m/s,mBar,W/m2
1,2020-01-01 01:00:00,4.81,32.81,16.66,47.83,7.67,0.65,5.12,210.3,157.44,...,0,0,0,14.9,49.9,0.89,83.29,0.23,725.5,240.7
2,2020-01-01 02:00:00,19.58,38.25,37.49,46.32,6.97,1.3,4.35,256.6,136.57,...,0,0,0,14.42,50.67,0.81,90.91,0.28,725.8,111.91
3,2020-01-01 03:00:00,20.6,39.6,38.95,45.67,6.52,1.01,3.42,253,127.67,...,0,0,0,13.95,51.69,0.75,83.95,0.28,725.9,57.54
4,2020-01-01 04:00:00,31.76,36.72,46.45,46.51,7.89,0.36,3.27,253.3,132.8,...,0,0,0,13.66,52.82,0.74,90.26,0.28,725.9,168.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4364,2020-06-30 20:00:00,3.6,30.11,18.01,20.19,2.28,2.22,55.09,179.6,84.19,...,0,0,0,41.47,68.22,0.73,248.39,0.37,737.1,18.14
4365,2020-06-30 21:00:00,8.81,18.54,16.95,23.37,4.76,1.04,53.21,207.4,73.09,...,0,0,0,37.79,75.71,1.35,282.74,0.32,736.7,10.31
4366,2020-06-30 22:00:00,7.19,18.9,15.32,21.47,2.15,2.38,49.3,267.9,66.04,...,0,0,0,32.23,89.91,1.3,183.89,0.27,737.2,14.6
4367,2020-06-30 23:00:00,17.26,19.53,24.67,23.52,9.65,0.33,13.16,339.9,74.14,...,0,0,0,30.59,93.06,0.68,181.03,0.26,736.5,15.12
4368,2020-07-01 00:00:00,7.14,16.78,12.4,18.71,11.73,0.63,7.33,172,88.37,...,0,0,0,31.49,91.11,0.55,178.57,0.27,734,17.19

In [4]:
df.head()

,Unnamed: 0,A_\nRSPCB\nJODHPU\nNO,A_\nRSPCB\nJODHPU\nNO2,A_\nRSPCB\nJODHPU\nNOX,A_\nRSPCB\nJODHPU\nNH3,A_\nRSPCB\nJODHPU\nSO2,A_\nRSPCB\nJODHPU\nCO,A_\nRSPCB\nJODHPU\nO3,A_\nRSPCB\nJODHPU\nPM10,A_\nRSPCB\nJODHPU\nPM2.5,...,A_\nRSPCB\nJODHPU\nETHYL BENZENE,A_\nRSPCB\nJODHPU\nMPXYLENE,A_\nRSPCB\nJODHPU\nOXYLENE,A_\nRSPCB\nJODHPU\nTEMP,A_\nRSPCB\nJODHPU\nRH,A_\nRSPCB\nJODHPU\nWS,A_\nRSPCB\nJODHPU\nWD,A_\nRSPCB\nJODHPU\nVWS,A_\nRSPCB\nJODHPU\nBP,A_\nRSPCB\nJODHPU\nSR
0,NaT,ug/m3,ug/m3,ppb,ug/m3,ug/m3,mg/m3,ug/m3,ug/m3,ug/m3,...,ug/m3,ug/m3,ug/m3,degreC,%,m/s,degre,m/s,mBar,W/m2
1,2020-01-01 01:00:00,4.81,32.81,16.66,47.83,7.67,0.65,5.12,210.3,157.44,...,0,0,0,14.9,49.9,0.89,83.29,0.23,725.5,240.7
2,2020-01-01 02:00:00,19.58,38.25,37.49,46.32,6.97,1.3,4.35,256.6,136.57,...,0,0,0,14.42,50.67,0.81,90.91,0.28,725.8,111.91
3,2020-01-01 03:00:00,20.6,39.6,38.95,45.67,6.52,1.01,3.42,253,127.67,...,0,0,0,13.95,51.69,0.75,83.95,0.28,725.9,57.54
4,2020-01-01 04:00:00,31.76,36.72,46.45,46.51,7.89,0.36,3.27,253.3,132.8,...,0,0,0,13.66,52.82,0.74,90.26,0.28,725.9,168.24

In [5]:
df.shape

(4369, 22)

In [6]:
df.columns

Index(['Unnamed: 0', 'A_\nRSPCB\nJODHPU\nNO', 'A_\nRSPCB\nJODHPU\nNO2',
       'A_\nRSPCB\nJODHPU\nNOX', 'A_\nRSPCB\nJODHPU\nNH3',
       'A_\nRSPCB\nJODHPU\nSO2', 'A_\nRSPCB\nJODHPU\nCO',
       'A_\nRSPCB\nJODHPU\nO3', 'A_\nRSPCB\nJODHPU\nPM10',
       'A_\nRSPCB\nJODHPU\nPM2.5', 'A_\nRSPCB\nJODHPU\nBENZENE',
       'A_\nRSPCB\nJODHPU\nTOULENE', 'A_\nRSPCB\nJODHPU\nETHYL BENZENE',
       'A_\nRSPCB\nJODHPU\nMPXYLENE', 'A_\nRSPCB\nJODHPU\nOXYLENE',
       'A_\nRSPCB\nJODHPU\nTEMP', 'A_\nRSPCB\nJODHPU\nRH',
       'A_\nRSPCB\nJODHPU\nWS', 'A_\nRSPCB\nJODHPU\nWD',
       'A_\nRSPCB\nJODHPU\nVWS', 'A_\nRSPCB\nJODHPU\nBP',
       'A_\nRSPCB\nJODHPU\nSR'],
      dtype='object')

In [7]:
df2=df.drop(["A_\nRSPCB\nJODHPU\nNO","A_\nRSPCB\nJODHPU\nNOX","A_\nRSPCB\nJODHPU\nNH3","A_\nRSPCB\nJODHPU\nMPXYLENE","A_\nRSPCB\nJODHPU\nOXYLENE","A_\nRSPCB\nJODHPU\nTEMP","A_\nRSPCB\nJODHPU\nRH",	"A_\nRSPCB\nJODHPU\nWS",	"A_\nRSPCB\nJODHPU\nWD",	"A_\nRSPCB\nJODHPU\nVWS",	"A_\nRSPCB\nJODHPU\nBP",	"A_\nRSPCB\nJODHPU\nSR","A_\nRSPCB\nJODHPU\nBENZENE","A_\nRSPCB\nJODHPU\nTOULENE","A_\nRSPCB\nJODHPU\nETHYL BENZENE"] , axis=1)

In [8]:
df2.shape

(4369, 7)

In [9]:
df2.isnull().sum()

Unnamed: 0                    1
A_\nRSPCB\nJODHPU\nNO2      171
A_\nRSPCB\nJODHPU\nSO2      240
A_\nRSPCB\nJODHPU\nCO       187
A_\nRSPCB\nJODHPU\nO3       118
A_\nRSPCB\nJODHPU\nPM10     128
A_\nRSPCB\nJODHPU\nPM2.5     93
dtype: int64

In [10]:
df3 = df2.dropna()

In [11]:
df3

,Unnamed: 0,A_\nRSPCB\nJODHPU\nNO2,A_\nRSPCB\nJODHPU\nSO2,A_\nRSPCB\nJODHPU\nCO,A_\nRSPCB\nJODHPU\nO3,A_\nRSPCB\nJODHPU\nPM10,A_\nRSPCB\nJODHPU\nPM2.5
1,2020-01-01 01:00:00,32.81,7.67,0.65,5.12,210.3,157.44
2,2020-01-01 02:00:00,38.25,6.97,1.3,4.35,256.6,136.57
3,2020-01-01 03:00:00,39.6,6.52,1.01,3.42,253,127.67
4,2020-01-01 04:00:00,36.72,7.89,0.36,3.27,253.3,132.8
5,2020-01-01 05:00:00,32.92,7.96,0.7,5.6,238,143.91
...,...,...,...,...,...,...,...
4364,2020-06-30 20:00:00,30.11,2.28,2.22,55.09,179.6,84.19
4365,2020-06-30 21:00:00,18.54,4.76,1.04,53.21,207.4,73.09
4366,2020-06-30 22:00:00,18.9,2.15,2.38,49.3,267.9,66.04
4367,2020-06-30 23:00:00,19.53,9.65,0.33,13.16,339.9,74.14
4368,2020-07-01 00:00:00,16.78,11.73,0.63,7.33,172,88.37

In [12]:
df3.isnull().sum()

Unnamed: 0                  0
A_\nRSPCB\nJODHPU\nNO2      0
A_\nRSPCB\nJODHPU\nSO2      0
A_\nRSPCB\nJODHPU\nCO       0
A_\nRSPCB\nJODHPU\nO3       0
A_\nRSPCB\nJODHPU\nPM10     0
A_\nRSPCB\nJODHPU\nPM2.5    0
dtype: int64

In [13]:
df3.shape

(3988, 7)

In [16]:
df4=df3.rename({'A_\nRSPCB\nJODHPU\nNO2':'no2','A_\nRSPCB\nJODHPU\nSO2':'so2','A_\nRSPCB\nJODHPU\nCO':'co','A_\nRSPCB\nJODHPU\nO3':'o3','A_\nRSPCB\nJODHPU\nPM10':'pm10','A_\nRSPCB\nJODHPU\nPM2.5':'pm25'}, axis=1)

In [17]:
df4.head()

           Unnamed: 0    no2   so2    co    o3   pm10    pm25
1 2020-01-01 01:00:00  32.81  7.67  0.65  5.12  210.3  157.44
2 2020-01-01 02:00:00  38.25  6.97   1.3  4.35  256.6  136.57
3 2020-01-01 03:00:00   39.6  6.52  1.01  3.42    253  127.67
4 2020-01-01 04:00:00  36.72  7.89  0.36  3.27  253.3   132.8
5 2020-01-01 05:00:00  32.92  7.96   0.7   5.6    238  143.91

CALCULATE AIR QUALITY INDEX FOR SO2 BASED ON FORMULA The air quality index is a piecewise linear function of the pollutant concentration. At the boundary between AQI categories, there is a discontinuous jump of one AQI unit. To convert from concentration to AQI this equation is used

In [26]:
def cal_SOi(so2):
    si=0
    if (so2<=40):
     si= so2*(50/40)
    elif (so2>40 and so2<=80):
     si= 50+(so2-40)*(50/40)
    elif (so2>80 and so2<=380):
     si= 100+(so2-80)*(100/300)
    elif (so2>380 and so2<=800):
     si= 200+(so2-380)*(100/420)
    elif (so2>800 and so2<=1600):
     si= 300+(so2-800)*(100/800)
    elif (so2>1600):
     si= 400+(so2-1600)*(100/800)
    return si
df4['SOi']=df4['so2'].apply(cal_SOi)
data= df4[['so2','SOi']]
data.head()
# calculating the individual pollutant index for so2(sulphur dioxide)

    so2     SOi
1  7.67  9.5875
2  6.97  8.7125
3  6.52  8.1500
4  7.89  9.8625
5  7.96  9.9500

In [27]:
def cal_Coi(co):
    coi=0
    if(co<=40):
     coi= co*50/40
    elif(co>40 and co<=80):
     coi= 50+(co-40)*(50/40)
    elif(co>80 and co<=180):
     coi= 100+(co-80)*(100/100)
    elif(co>180 and co<=280):
     coi= 200+(co-180)*(100/100)
    elif(co>280 and co<=400):
     coi= 300+(co-280)*(100/120)
    else:
     coi= 400+(co-400)*(100/120)
    return coi
df4['Coi']=df4['co'].apply(cal_Coi)
data= df4[['co','Coi']]
data.head()
# calculating the individual pollutant index for co(carbon monoxide)

     co     Coi
1  0.65  0.8125
2   1.3  1.6250
3  1.01  1.2625
4  0.36  0.4500
5   0.7  0.8750

In [28]:
def cal_Noi(no2):
    ni=0
    if(no2<=40):
     ni= no2*50/40
    elif(no2>40 and no2<=80):
     ni= 50+(no2-40)*(50/40)
    elif(no2>80 and no2<=180):
     ni= 100+(no2-80)*(100/100)
    elif(no2>180 and no2<=280):
     ni= 200+(no2-180)*(100/100)
    elif(no2>280 and no2<=400):
     ni= 300+(no2-280)*(100/120)
    else:
     ni= 400+(no2-400)*(100/120)
    return ni
df4['Noi']=df4['no2'].apply(cal_Noi)
data= df4[['no2','Noi']]
data.head()
# calculating the individual pollutant index for no2(nitrogen dioxide)

     no2      Noi
1  32.81  41.0125
2  38.25  47.8125
3   39.6  49.5000
4  36.72  45.9000
5  32.92  41.1500

In [29]:
def cal_O3i(o3):
    o3i=0
    if(o3<=40):
     o3i= o3*50/40
    elif(o3>40 and o3<=80):
     o3i= 50+(o3-40)*(50/40)
    elif(o3>80 and o3<=180):
     o3i= 100+(o3-80)*(100/100)
    elif(o3>180 and o3<=280):
     o3i= 200+(o3-180)*(100/100)
    elif(o3>280 and o3<=400):
     o3i= 300+(o3-280)*(100/120)
    else:
     o3i= 400+(o3-400)*(100/120)
    return o3i
df4['O3i']=df4['o3'].apply(cal_O3i)
data= df4[['o3','O3i']]
data.head()
# calculating the individual pollutant index for o3(ozone)

     o3     O3i
1  5.12  6.4000
2  4.35  5.4375
3  3.42  4.2750
4  3.27  4.0875
5   5.6  7.0000

In [30]:
def cal_Pmi(pm10):
    pmi=0
    if(pm10<=40):
     pmi= pm10*50/40
    elif(pm10>40 and pm10<=80):
     pmi= 50+(pm10-40)*(50/40)
    elif(pm10>80 and pm10<=180):
     pmi= 100+(pm10-80)*(100/100)
    elif(pm10>180 and pm10<=280):
     pmi= 200+(pm10-180)*(100/100)
    elif(pm10>280 and pm10<=400):
     pmi= 300+(pm10-280)*(100/120)
    else:
     pmi= 400+(pm10-400)*(100/120)
    return pmi
df4['Pmi']=df4['pm10'].apply(cal_Pmi)
data= df4[['pm10','Pmi']]
data.head()
# calculating the individual pollutant index for PM10

    pm10    Pmi
1  210.3  230.3
2  256.6  276.6
3    253  273.0
4  253.3  273.3
5    238  258.0

In [31]:
def cal_PM25i(pm25):
    pM25i=0
    if(pm25<=40):
     pM25i= pm25*50/40
    elif(pm25>40 and pm25<=80):
     pM25i= 50+(pm25-40)*(50/40)
    elif(pm25>80 and pm25<=180):
     pM25i= 100+(pm25-80)*(100/100)
    elif(pm25>180 and pm25<=280):
     pM25i= 200+(pm25-180)*(100/100)
    elif(pm25>280 and pm25<=400):
     pM25i= 300+(pm25-280)*(100/120)
    else:
     pM25i= 400+(pm25-400)*(100/120)
    return pM25i
df4['PM25i']=df4['pm25'].apply(cal_PM25i)
data= df4[['pm25','PM25i']]
data.head()
# calculating the individual pollutant index for PM2.5

     pm25   PM25i
1  157.44  177.44
2  136.57  156.57
3  127.67  147.67
4   132.8  152.80
5  143.91  163.91

function to calculate the air quality index (AQI) of every data value

In [34]:
def cal_aqi(si,coi,ni,pmi,pM25i, o3i):
    aqi=0
    if(si>coi and si>ni and si>pmi and si>pM25i and si> o3i):
     aqi=si
    if(coi>si and coi>ni and coi>pmi and coi>pM25i and coi> o3i):
     aqi=coi
    if(ni>si and ni>coi and ni>pmi and ni>pM25i and ni> o3i):
     aqi=ni
    if(pmi>si and pmi>coi and pmi>ni and pmi>pM25i and pmi>o3i):
     aqi=pmi
    if(pM25i>si and pM25i>coi and pM25i>ni and pM25i>pmi and pM25i> o3i):
     aqi=pM25i
    if(o3i>si and  o3i>coi and  o3i>ni and  o3i>pmi and o3i>pM25i):
     aqi= o3i


    return aqi

df4['AQI']=df4.apply(lambda x:cal_aqi(x['SOi'],x['Coi'],x['Noi'],x['O3i'],x['Pmi'],x['PM25i']),axis=1)
data= df4[['Unnamed: 0','SOi','Coi','Noi','O3i','Pmi','PM25i','AQI']]
data.head()

           Unnamed: 0     SOi     Coi      Noi     O3i    Pmi   PM25i    AQI
1 2020-01-01 01:00:00  9.5875  0.8125  41.0125  6.4000  230.3  177.44  230.3
2 2020-01-01 02:00:00  8.7125  1.6250  47.8125  5.4375  276.6  156.57  276.6
3 2020-01-01 03:00:00  8.1500  1.2625  49.5000  4.2750  273.0  147.67  273.0
4 2020-01-01 04:00:00  9.8625  0.4500  45.9000  4.0875  273.3  152.80  273.3
5 2020-01-01 05:00:00  9.9500  0.8750  41.1500  7.0000  258.0  163.91  258.0

In [35]:
data.head()

           Unnamed: 0     SOi     Coi      Noi     O3i    Pmi   PM25i    AQI
1 2020-01-01 01:00:00  9.5875  0.8125  41.0125  6.4000  230.3  177.44  230.3
2 2020-01-01 02:00:00  8.7125  1.6250  47.8125  5.4375  276.6  156.57  276.6
3 2020-01-01 03:00:00  8.1500  1.2625  49.5000  4.2750  273.0  147.67  273.0
4 2020-01-01 04:00:00  9.8625  0.4500  45.9000  4.0875  273.3  152.80  273.3
5 2020-01-01 05:00:00  9.9500  0.8750  41.1500  7.0000  258.0  163.91  258.0

Splitting the data into dependent and independent column

In [36]:
X=data[['SOi','Coi','Noi','O3i','Pmi','PM25i']]
Y=data['AQI']
X.head()

      SOi     Coi      Noi     O3i    Pmi   PM25i
1  9.5875  0.8125  41.0125  6.4000  230.3  177.44
2  8.7125  1.6250  47.8125  5.4375  276.6  156.57
3  8.1500  1.2625  49.5000  4.2750  273.0  147.67
4  9.8625  0.4500  45.9000  4.0875  273.3  152.80
5  9.9500  0.8750  41.1500  7.0000  258.0  163.91

In [37]:
Y.head()

1    230.3
2    276.6
3    273.0
4    273.3
5    258.0
Name: AQI, dtype: float64

In [38]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=70)
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)
# splitting the data into training and testing data

(3190, 6) (798, 6) (3190,) (798,)

In [39]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [40]:
#predicting train
train_pred=model.predict(X_train)
#predicting on test
test_pred=model.predict(X_test)

In [41]:
RMSE_train=(np.sqrt(metrics.mean_squared_error(Y_train,train_pred)))
RMSE_test=(np.sqrt(metrics.mean_squared_error(Y_test,test_pred)))
print("RMSE TrainingData = ",str(RMSE_train))
print("RMSE TestData = ",str(RMSE_test))
print('-'*50)
print('RSquared value on train:',model.score(X_train, Y_train))
print('RSquared value on test:',model.score(X_test, Y_test))

RMSE TrainingData =  16.665603146385813
RMSE TestData =  14.709054997743348
--------------------------------------------------
RSquared value on train: 0.9641112043425784
RSquared value on test: 0.9776432444239604

In [42]:
DT=DecisionTreeRegressor()
DT.fit(X_train,Y_train)

DecisionTreeRegressor()

In [43]:
#predicting train
train_preds=DT.predict(X_train)
#predicting on test
test_preds=DT.predict(X_test)

In [44]:
RMSE_train=(np.sqrt(metrics.mean_squared_error(Y_train,train_preds)))
RMSE_test=(np.sqrt(metrics.mean_squared_error(Y_test,test_preds)))
print("RMSE TrainingData = ",str(RMSE_train))
print("RMSE TestData = ",str(RMSE_test))
print('-'*50)
print('RSquared value on train:',DT.score(X_train, Y_train))
print('RSquared value on test:',DT.score(X_test, Y_test))

RMSE TrainingData =  3.3756787550411895e-15
RMSE TestData =  10.183856120795792
--------------------------------------------------
RSquared value on train: 1.0
RSquared value on test: 0.9892832340762577

In [45]:
RF=RandomForestRegressor().fit(X_train,Y_train)

In [46]:
#predicting train
train_preds1=RF.predict(X_train)
#predicting on test
test_preds1=RF.predict(X_test)

In [47]:
RMSE_train=(np.sqrt(metrics.mean_squared_error(Y_train,train_preds1)))
RMSE_test=(np.sqrt(metrics.mean_squared_error(Y_test,test_preds1)))
print("RMSE TrainingData = ",str(RMSE_train))
print("RMSE TestData = ",str(RMSE_test))
print('-'*50)
print('RSquared value on train:',RF.score(X_train, Y_train))
print('RSquared value on test:',RF.score(X_test, Y_test))

RMSE TrainingData =  3.6895466355208084
RMSE TestData =  12.667920651748553
--------------------------------------------------
RSquared value on train: 0.9982410122244167
RSquared value on test: 0.9834175038956833

In [48]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, Y_train)

SVR()

In [49]:
Y_pred=regressor.predict(X_test)

In [50]:
Y_pred

array([217.83810383, 151.08309477, 153.08519112, 121.57756411,
        85.3823396 ,  81.83242519, 134.78003053, 111.05411568,
       102.23298047, 217.38796346, 178.22554926, 231.13787632,
       185.9582197 , 194.34505855, 110.36281128, 179.56213253,
        86.44315811, 142.64230763, 142.50538637, 141.338467  ,
       107.40433707,  80.40788322, 144.36536576, 306.75026593,
       152.5415946 , 107.44831083,  84.21711691, 121.55118529,
       181.96034645, 105.41344032, 133.15914956, 148.45270299,
       289.95223281, 174.92654541, 157.2241342 , 150.62522976,
       120.30147435, 103.44798364, 158.62769087, 111.81906582,
       157.35566668, 170.86956426, 138.91030769, 121.48965621,
       120.62197318, 117.75273026, 280.64582455, 103.05152585,
       121.66672105, 208.68036074, 108.50586238, 243.53231318,
       290.59697386, 136.21711942, 110.50002598, 248.37296936,
       164.38491641, 178.08073483, 161.89876403, 280.36877026,
       127.46914916, 155.653397  , 133.18633909, 126.07583414,
       120.29208808,  93.74512887,  82.74570575, 255.51923297,
       162.67123562,  71.6548703 , 148.07121867, 139.99736758,
       100.53928451, 198.9768172 , 169.08049658,  92.5382854 ,
       240.53751572, 191.33978404, 141.43545232, 136.93129888,
       134.77148024, 171.91045018, 256.33658486, 228.70721938,
       118.1996082 ,  75.08812153, 202.17732788, 196.29918833,
       219.74224122, 118.79814215, 170.74790641, 272.359258  ,
       190.35656832, 148.75321367, 121.26283755, 235.64614392,
       201.22978981, 102.40884449, 186.01157383, 252.66440444,
       271.55524018, 197.02386308, 128.54342367, 121.32235062,
       129.8653865 , 170.14593792, 114.63982711, 212.32646243,
       220.72776568, 182.51050851,  86.65272246, 136.72066281,
       103.88751007,  91.5764681 , 237.30726208, 192.34082035,
        81.07405562, 145.01884202, 134.96216847, 204.19434369,
       102.31527635, 122.62502099, 125.6621876 , 176.64926184,
       155.4223502 , 126.7952166 , 148.84311515, 111.70751463,
       158.2581241 , 125.25026951, 120.93149968, 254.6896459 ,
       187.49786173,  82.28573754, 188.76391628, 108.33943018,
       231.69140942, 124.64154813, 111.28491452, 154.40213588,
        78.99452015, 116.61472228, 205.50114968, 147.14391622,
       103.9354696 , 168.3537475 , 175.24339951, 173.71222741,
       251.27958153, 167.04936622, 107.56153474, 132.44735348,
       122.98660301, 116.46286888, 145.56603944, 126.31679308,
       124.80794913, 137.88874742, 141.08777069,  81.26963925,
       108.67492127, 186.09020037, 110.39543405, 139.3980973 ,
       149.11530132, 114.2198956 , 115.48286085, 185.51504625,
       228.00846339, 149.95599203,  93.15911729, 270.79421907,
       185.6402148 , 148.37819503, 317.73766632,  84.72252921,
       158.68439003, 146.9067314 , 205.44296163,  95.32583198,
       121.92280633, 110.41027145, 133.34197565,  83.30611883,
       122.60391483,  84.81132465,  99.08186872, 180.11030011,
       301.46138947, 318.86407966, 121.21963833, 152.50136375,
        95.26244985, 104.67795381, 236.38625962, 134.07127157,
       138.55929111, 102.43554978, 116.40830486, 206.05569083,
       108.26106652, 125.90724852, 179.09161067, 157.94290389,
       124.59996501,  96.97975891, 275.99246272, 270.22435232,
        96.00329539, 254.65430906, 156.94660473, 126.01325843,
       127.04052907, 172.38481897,  93.70915713, 114.79039786,
       141.00405715, 117.3868596 , 145.44544103, 199.23251795,
       109.82014031, 133.43088698, 177.13722542, 238.12442053,
       144.96027611, 152.61139252,  85.96310758,  80.02511022,
        98.13008327, 104.92759337, 218.58010919, 114.63754915,
       195.16354451, 126.35775517, 201.34037349, 103.12169193,
       121.98072998, 164.8055883 , 161.54105767, 167.44376451,
       101.32071646,  95.03522881, 248.53874602, 106.73958641,
       251.11259504,  91.47224527, 191.68571615, 241.40249759,
        68.68385189, 157.78173337, 182.6096623 , 124.67875073,
       112.90758272, 157.58813243, 108.33802743, 102.58443547,
        90.36153669, 182.02005106, 100.26920258, 142.22975002,
       238.61657483, 105.03969424, 317.67088041,  73.72892198,
       141.52417849, 132.72893077, 137.76822188, 121.41751135,
       132.93315144, 140.51854493, 217.28452531, 111.09172624,
       142.95975159,  85.6259454 , 134.90657855, 110.53786038,
       117.27479127, 216.39842085,  86.66211257, 127.10296354,
       109.52969041,  93.89359347,  98.65584566,  79.53365786,
       129.50611607, 129.65062742, 107.40387681, 131.91708037,
       132.62812646, 107.3399742 , 130.15264746, 140.97994311,
       164.64786282, 227.94585031, 171.67436341, 250.36531856,
       152.60564256, 232.04421158, 130.25278608, 143.45156545,
       134.05310829, 184.87100187, 264.91138455, 223.15089186,
       251.27473997, 199.94983705, 191.81478714, 186.08321472,
       115.68878758, 171.24379156, 114.70698811, 103.31503071,
        80.2724837 , 144.01732233, 100.42509603,  98.48643715,
        94.72867777, 121.08337842, 198.88242599, 101.12556538,
       192.25689836, 186.47498096, 260.62645061, 143.73832052,
       108.66895225, 211.01830949, 167.8812436 ,  92.074324  ,
       179.28747174, 101.07358099, 176.08603648, 112.39153204,
       114.40143872, 160.45409121,  90.73905972, 124.20250428,
       106.60943231,  87.54103384, 304.50928448,  95.92285864,
       249.57211566, 240.92057036, 105.111513  , 135.79964104,
       160.10613921, 285.61013727, 176.46062069, 143.66623185,
       119.57503759, 204.13427534, 123.95869847, 160.80198082,
       127.39086386,  94.47139781, 121.40541429, 197.64659335,
       174.08352235, 149.8969265 ,  91.17716684, 125.8712974 ,
       109.45592567, 169.82771979, 223.75677158, 165.6248307 ,
       114.67513582, 208.01077181, 180.60290482, 253.06798003,
       106.8574732 , 121.7878123 , 147.85899608, 237.01357987,
       111.67909117, 127.53056957, 140.4012913 , 117.33019342,
       127.3898981 , 131.63045402, 110.03080124, 229.19084444,
       252.80274347, 170.28315168, 180.78281962, 144.90056272,
       219.84021036, 315.63590298, 120.21141806, 109.79087855,
       147.55691251, 310.18742839, 114.89156744,  94.47347485,
        93.7652146 , 134.97294686, 112.64945193, 107.20223401,
       113.09075946,  87.09184043, 134.7143979 , 142.62011447,
        89.46977344, 308.21937027, 202.14714452, 143.36439881,
       183.17018705, 129.89375339, 170.88629595,  96.09882275,
       136.8099458 , 125.83771164,  81.86106082, 107.98829257,
       143.80824936, 142.66739746,  89.58605245, 115.52758483,
       166.87737375, 153.18739963, 137.12654929, 315.22404924,
       125.05397895, 200.23231013, 272.59237575, 188.50155145,
       117.77373242, 131.9185436 , 154.8422445 , 251.92826813,
       176.11329064, 105.57842073, 132.53170839, 228.44307634,
       163.11693645, 177.54373242, 167.2524309 , 180.52800498,
       209.26384498, 271.495876  , 137.01705759, 106.99160441,
       152.53358517, 112.99580543,  95.02123705, 136.67273402,
       109.84558055, 249.28739568, 114.94445572, 102.74202237,
       117.13077066,  87.02066339, 123.85310745, 227.97915809,
       164.53416767, 110.04524117, 140.00686465,  71.24394009,
        78.02671793, 128.53218619, 116.5558798 , 173.86262172,
       263.22725779, 160.73994895,  88.12865268, 145.9323917 ,
       158.78993135, 133.46139092, 124.49103928,  88.5958762 ,
       189.26439863, 306.00331144, 218.46603187, 271.24074624,
       141.42532486, 171.06133115,  76.13828081,  78.96111835,
        98.87307356, 158.22260286, 172.72230584, 125.65889225,
       113.01508577, 108.50207394, 150.42785814, 131.61450084,
       241.62285231, 207.25239488, 173.70276653, 132.8326383 ,
       164.1719023 , 226.51846657, 112.34989524,  96.35437462,
       127.36775791, 292.05927226, 185.12240216, 157.40039625,
       107.21762154, 112.04172304, 151.48578748, 143.31399105,
       225.06283327, 260.16777846, 108.78675827,  97.89528357,
       235.47146708, 107.98046129, 103.6991211 , 132.4950414 ,
       228.99641149,  94.01822618, 158.05595137, 187.43474149,
       182.65569977, 232.13137257, 167.01845343,  86.36322278,
       144.08162348, 225.65253967, 145.3236027 ,  89.01978786,
       104.85442902, 264.6577488 , 148.74456468, 110.08736538,
       109.94837689, 102.5621926 , 250.09977587, 226.4369821 ,
       126.85507227, 226.37559601, 142.36814886, 178.03254784,
       141.79550941, 130.59236271, 153.1578376 , 111.31149188,
       157.67829401, 125.31842867, 114.73425734, 200.25888428,
       150.71796322, 140.43893725, 198.70918698, 160.26717536,
       139.8310038 , 105.75209855, 194.11736322, 155.70116441,
       195.75221116, 191.44574113, 172.84964733,  77.54119257,
       137.34754655, 191.76502391, 228.90220235,  86.96872855,
       126.23135686, 138.87166806,  85.44366267, 150.4946625 ,
       159.68121656, 103.02533598, 116.0665453 , 217.88832115,
       215.82584783, 244.88075373, 161.14576389, 158.81679069,
       138.85085651, 204.66850799, 198.03351857,  84.624538  ,
       154.1030824 , 279.60640199, 197.709771  ,  99.60968817,
       223.47626995,  71.58156466, 150.22712481, 157.8532785 ,
       131.59278225, 215.17214521, 213.28604298, 138.75777432,
       112.34727107, 199.94312623,  95.79066298, 142.47584977,
        90.47368425, 152.01603472,  89.12204278, 186.6971641 ,
       106.78625124, 158.31123493, 293.61773759, 115.22000673,
       163.39123096, 106.23344399,  91.18149441, 143.2209843 ,
        82.46788249,  83.42387939, 113.32870454,  95.71150363,
       180.92638423, 141.50580847, 194.67235304, 102.59277851,
       136.11688971, 124.90244431, 134.79480699, 104.02045314,
       264.47209731, 105.54691266, 287.37225042,  83.97880609,
       239.38503032, 236.89024291, 167.49923387,  96.51460488,
       131.78622531,  89.96758625,  77.46244098, 112.07101313,
       284.64921251,  89.04959181,  81.98638241, 250.57150378,
       101.6442589 , 136.67391823, 268.38685892,  93.24962637,
       103.69769666, 153.88477967, 211.33046192,  79.89053292,
        88.30776487,  96.75306108, 115.13938949,  84.61249517,
       216.89381127, 117.30084123, 150.98333177, 142.80681079,
       215.13997217, 100.89876141, 193.89659622, 119.67527733,
       111.57982117, 121.59781096, 118.09110585, 192.99040229,
       262.06201488, 129.70051682, 102.0388261 , 119.96718483,
       167.22062709, 152.52421384, 309.5423899 ,  74.99043992,
       173.97937906, 193.8673894 , 293.73618264,  95.81911925,
       107.78001757,  97.98271468,  77.27606545, 103.55745576,
       106.35124877, 247.73440587, 133.23019898, 288.59186582,
       167.73817   , 106.50243938, 221.42317436, 217.55920976,
       218.7292908 , 213.97235204, 109.52808428, 201.21096537,
       110.14477799, 138.4351839 , 141.0047694 , 102.51128801,
       158.03190823, 126.68950301,  82.84643561, 226.31515859,
        75.72246171,  96.92924354, 182.89851608, 161.66023066,
       140.27252405, 151.75684194, 155.22410677, 103.44038025,
       286.61641281, 139.26951747, 106.83199221, 109.94732476,
       165.14399203, 138.81262372, 146.32040873, 131.7364708 ,
       137.05126228, 137.09679256, 181.25559252, 216.7266771 ,
       140.17149085, 136.6737506 , 106.65451551, 160.8445749 ,
       110.31058911, 113.25711798, 136.68705712, 139.4375299 ,
       131.07068577, 170.46673269,  80.17156453,  87.4409831 ,
       178.19041018, 178.32770381,  76.24737559, 118.90261454,
        70.65247513, 203.65076732, 202.8811831 , 151.60242275,
       112.03909963, 104.84808827,  83.94193576, 121.31173295,
        96.94539008, 284.15758653,  96.06478293, 173.34965557,
       130.88929159, 236.28107043, 109.26509087, 167.04033999,
        97.52276328, 116.74906279, 101.79639462, 161.514191  ,
       130.60098529,  92.29092504, 100.5652881 , 176.07010395,
       174.30993547, 305.60853389, 132.56680336, 123.14659518,
       169.91582455, 189.89088622, 143.02768426, 118.58022714,
       114.42690347, 133.04452298, 153.94884355, 263.92773126,
        82.73921127, 101.70370018, 114.08674891, 175.68518977,
       121.64587978,  92.46069834, 168.64518215, 118.23569306,
        90.49745947, 135.18809612, 141.96835471, 106.18909295,
       123.69141966, 112.98359181,  80.79469521, 177.92108766,
        71.67316414, 133.61826726, 183.65691057, 163.87181494,
        91.70982799, 104.51236271, 112.14203926, 163.04082203,
        77.94238541, 177.12685939, 147.72634368, 228.66724125,
        82.22921819, 298.69464077, 228.24304248, 203.48754059,
       115.50386965, 202.35398027, 147.44544771, 132.42489363,
       251.67424218, 131.2272625 ])

In [51]:
#Model evaluation
RMSE_train=(np.sqrt(metrics.mean_squared_error(Y_train,train_preds1)))
RMSE_test=(np.sqrt(metrics.mean_squared_error(Y_test,test_preds1)))
print("RMSE TrainingData = ",str(RMSE_train))
print("RMSE TestData = ",str(RMSE_test))
print('-'*50)
print('RSquared value on train:',regressor.score(X_train, Y_train))
print('RSquared value on test:',regressor.score(X_test, Y_test))

RMSE TrainingData =  3.6895466355208084
RMSE TestData =  12.667920651748553
--------------------------------------------------
RSquared value on train: 0.593338941411998
RSquared value on test: 0.4894543104048654